@import "../../Variables.scss";

.button {
    padding: 10px;
    width: 25%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    &:hover {
        background-color: $hover-background-color;
        cursor: pointer;
    }
    &__title {
        display: none;
    }
    &__icon {
        display: block;
    }
}

@media all and (min-width: 800px) {
    .button {
        &__title {
            display: block;
        }
        &__icon {
            display: none;
        }

    }
}