.auth-page {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #000;
        text-decoration: none;
    }
}
.eng-form_auth-page {
    top: 0%;
    position: static;
    margin: 5px;
}

.button_auth-page {
    width: calc(100% - 10px);
    margin: 10px 0;
    padding: 5px;
}

@media all and (min-width: 800px) {
    .eng-form_auth-page {
        position: absolute;
        height: auto;
        top: 20%;
    }
}
